* {
    padding: 0px;
    margin: 0px;
}

/*************HEADER START****************/

header {
    /*    position: fixed;*/
    width: 100%;
    /*    height: 100vw;*/
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    flex-basis: 300px;
    padding-left: 100px;
    padding-top: 15px;

}

.logo img {
    width: 100%;
}

header nav {
    font-family: 'Vollkorn', serif;
    font-size: 1.8em;
    padding-right: 10vw;
    padding-top: 15px;
    flex-basis: 300px;

}

header nav a {
    text-decoration: none;
    color: #7c1b1b;
    padding-left: 18px;
    display: block;
    float: right;
    display: inline-flex;
}

header nav a:hover {
    color: #c19a66;
}

.bg_image {
    width: 100%;
    height: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(img/beans.png);

}

/*************HEADER SLUT****************/

.sectionswrapper {
    background-color: ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

}

/*************Video start****************/

h3 {
    font-family: 'Vollkorn',
    serif;
    ;
    font-weight: 800;
    font-size: 1.4em;
}

.column_top video {
    width: 100%!important;
    height: 100%!important;
}

/*************Video slut****************/

/*************billeder start****************/

.img {
    width: 40%;
    margin: 5px;
}

.column_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.column_img {
    padding-top: 80px;
}

/*************billeder slut****************/

/*************Footer start**************/

.footer_text {

    padding: 0em;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: ;
    background-repeat: repeat;
    background-size: contain;
    font-family: 'Vollkorn', serif;
    font-size: 1.1em;

}

.footer {
    width: 100%;
    padding: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(img/coffee-beans.jpg);
    width: 100%;
    height: contain;
    background-repeat: repeat;
    background-size: contain;

}


/*************Footer slut*************/
