/********** splash ************/

#splash {
    width: 100vw;
    height: 79.7vw;
    background-image: url(img/splash_3.jpeg);
    background-size: cover;
}


/*********** splash slut *********/


/********* logo ********/

#splash .logo img {
    width: 30vw;
}


/********* logo slut ********/


/************* menu *************/

header {
    position: fixed;
    /*ligger fast på skærmen*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0) 70%);
    /*W3C*/
    width: 100vw;
    padding: 1em;
}

header nav {
    font-family: 'vollkorn', sans-serif;
    text-align: left;
    margin: 30vw 10vw 0 0;
}

header nav a {
    text-decoration: none;
    color: #7c1b1b;
    padding-left: 6px;
    display: block;
    width: 20%;
}

header nav a:hover {
    color: #c19a66;
}


/************* menu slut  *************/

@media screen and (min-width: 321px) and (max-width: 728px) and (orientation: landscape) {
    #splash {
        background-image: url(img/splash_tablet.jpg);
        height: 79.6vw;
    }
    header nav a {
        display: inline-block;
    }
}

@media screen and (min-width: 729px) and (max-width: 1024px) and (orientation: landscape) {
    #splash {
        background-image: url(img/splash_desktop.jpg);
        height: 79.6vw;
    }
}
