/*************FONTS START****************/

/*MENU*/

font-family: 'Indie Flower',
cursive;

/*MENU-MINDRE SKRIFT*/

font-family: 'Raleway',
sans-serif;

/*NAV*/

font-family: 'Vollkorn',
serif;

/*BRODTEKST*/

font-family: 'Amiri',
serif;
/****************FONTS SLUT************/

/*************HEADER START****************/

header {
    position: fixed;
    width: 100vw;
    height: 100vw;
    padding: 1em;
}

header nav {
    font-family: 'Vollkorn', serif;
    text-align: right;
    margin: 0 5vw 0 0;
}

header nav a {
    text-decoration: none;
    color: #7c1b1b;
    padding-left: 4px;
    display: block;
    float: right;
    display: inline-flex;
}

header nav a:hover {
    color: #c19a66;
}

.logo {
    padding: 7px;
    width: 100vw;
    height: 168vw;
    background-repeat: no-repeat;
    background-image: url(img/logo.png);
    box-sizing: content-box;
}


.logo img {
    width: 100%;
}
